<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>{% block head_title %}Blog{% endblock %}</title>
        <link rel ="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}"  media="screen" rel="stylesheet" type="text/css">
        <!-- <link href="./bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
        <link href="./practice.css" rel="stylesheet" type="text/css"> 
        <script src="https://kit.fontawesome.com/9952b2afc9.js" crossorigin="anonymous"></script>
    </head>
    <body>
 
 
 
 
 <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">copyright &copy; 2025.03.25</p></div>
</footer>
 <!-- Footer-->

</body>
